*{
    padding: 0px;
    margin: 0px;
}
.container-fluid{
    background-color: #fe0000;
}
.navbar{
    background-color: #fe0000 !important;
}

.title_img{
    width: 40%;
    height: 40%;
}
.links_img{
    width: 96%;
    max-width: 80px;
    min-width: 50px;
    margin: 10px;
    border-radius: 50%;
  }
.d-flex{
    margin-right: 6.6rem;
}

@media screen and (max-width: 800px) {
    .title_img{
        width: 80%;
        height: 80%;
    }
    .links_img{
        width: 50%;
    } 
    .navbar-toggler.collapsed{
        margin-top: -80px;
    }
    
   
}